{{define "header"}}
<nav class="py-5">
  <ul class="flex px-4 place-content-end items-center w-screen">
    {{$root := .}}
    {{range .Routes}}
    {{if and (not $root.Auth) (eq .Title "App")}}
      <form method="POST">
        <input
          class="px-2 py-1 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer transition ease-out"
          type="submit" value={{$root.Action}}>
      </form>
    {{else}}
    <li class="px-2">
      <a href={{.Route}}>
        {{.Title}}
      </a>
    </li>
    {{end}}
    {{end}}
    {{if .Auth}}
      <li class="px-2">
        <a href="/logout">
          Log Out
        </a>
      </li>
    {{end}}
  </ul>

</nav>
{{end}}