{{define "login"}}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      {{template "meta" .}}
      <title>Log In | CFA Tools</title>
    </head>

    <body class="h-screen flex items-center flex-col" style="background-image: url(https://a.1stdibscdn.com/isabelle-menin-photography-changing-moods-bright-green-2-floral-landscape-contemporary-abstract-photo-for-sale/a_434/a_126716521689165852605/Changing_Moods_Green_02_master.jpg) ;">
      {{ template "header" . }}
      <h1 class="text-5xl">{{.PageTitle}}</h1>
    </body>
  </html>
{{end}}