{{define "login"}}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <link rel="stylesheet" type="text/css" href="static/output.css">
      <title>Log In | CFA Tools</title>
    </head>

    <body class="h-screen flex items-center flex-col">
      {{ template "header" . }}
      <h1 class="text-5xl">{{.PageTitle}}</h1>
      {{if not .Auth}}
      <form method="POST">
        <input class="px-2 py-1 bg-blue-400 rounded-lg cursor-pointer hover:bg-blue-300 transition ease-out" type="submit" value={{.Action}}>
      </form>
      {{end}}
    </body>
  </html>
{{end}}